name: CI/CD Pipeline

on:
  push:
    branches:
      - develop
      - production
  pull_request:
    branches:
      - develop
      - production

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        run: npm test

      - name: Lint Code
        run: npm run lint

  build-new-production-vesion:
    runs-on: ubuntu-latest
    needs: ci
    if: github.ref == 'refs/heads/production'
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install

      - name: Build Docker Image
        run: |
          VERSION=$(jq -r '.version' package.json)
          docker build -t ${{ secrets.DOCKER_USERNAME }}/bevatel-chat-service-api:$VERSION .

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push Docker Image
        run: |
          VERSION=$(jq -r '.version' package.json)
          docker push ${{ secrets.DOCKER_USERNAME }}/bevatel-chat-service-api:$VERSION

      - name: Increment Version
        id: increment_version
        run: |
          # Set up Git user identity
          git config --local user.email "mohamedel.bastawesy2020@gmail.com"
          git config --local user.name "bastawesy94"

          # Stage any changes to package-lock.json
          git add package-lock.json

          # Ensure the working directory is clean
          git status

          # Commit any changes if necessary to avoid conflicts
          git commit -m "Committing changes before version increment" || echo "No changes to commit"
          
          # Increment the version in package.json
          npm version patch -m "Increment version to %s"
          
          # Output the new version
          echo "New version: $(jq -r '.version' package.json)" > version.txt


      - name: Commit and Push Version Change
        run: |
          # Set up Git user identity
          git config --local user.email "mohamedel.bastawesy2020@gmail.com"
          git config --local user.name "bastawesy94"

          # Stage changes to package.json and version.txt
          git add package.json version.txt

          # Commit changes
          git commit -m "Update version" || echo "No changes to commit"

          # Push changes to the production branch using GITHUB_TOKEN for authentication
          git push https://x-access-token:${{ secrets.TOKEN_GITHUB }}@github.com/bastawesy94/bevatel-chat-service-api.git production

      - name: Get Version
        id: get_version
        run: echo "VERSION=$(jq -r '.version' package.json)" >> $GITHUB_ENV

      - name: Print Data for Curl
        run: |
          DEPLOY_PAYLOAD="{\"image\": \"${{ secrets.DOCKER_USERNAME }}/bevatel-chat-service-api:${{ env.VERSION }}\"}"
          echo "Deploy Payload: $DEPLOY_PAYLOAD"

      - name: Deploy to Koyeb
        run: |
          DEPLOY_PAYLOAD="{\"image\": \"${{ secrets.DOCKER_USERNAME }}/bevatel-chat-service-api:${{ env.VERSION }}\"}"
          curl -X POST https://app.koyeb.com/v1/services/1ecc505d-ac58-4c8f-a83b-d4e62e44c826/redeploy \
          -H "Authorization: Bearer ${{ secrets.KOYEB_API_KEY }}" \
          -H "Content-Type: application/json" \
          -d "$DEPLOY_PAYLOAD"

        env:
          KOYEB_API_KEY: ${{ secrets.KOYEB_API_KEY }}
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}

